.searchTerms li{
    display:inline-block;
    list-style:none;
    margin-right:15px;
    margin-bottom:20px;
}

.searchTerms{
    text-align:left;
    
}

.searchBtn{
    margin-bottom:20px !important;
}

.serachArea{
    margin:20px,0,20px,0;
}