boy,html{
    font-family:'Open Sans',sans-serif;
}

.searchTerms li{
    display:inline-block;
    list-style:none;
    margin-right:15px;
    margin-bottom:20px;
}

.searchTerms{
    text-align:left;
    
}

.searchBtn{
    margin-bottom:20px !important;
}

.serachArea{
    margin:20px,0,20px,0;
}

.jumbotron{
    color:white;
    background-color:#0A3C5F;
    padding-left:20%;
}

a{
    color:#0A3C5F;
}

a,a:visited,a:focus,{
    color:#0A3C5F;
}

a:hover,a:active{
    background-color:#D9E0E2;
    border:none;
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #D9E0E2; 
 }

.sloco-logo{
    height:200px;
    display:inline-block;
    position:relative;
    top:-10px;
}

.header-text{
    display:inline-block;
    position:relative;
    top:+20px;
}

.btn-default, input[type=submit]{
    background-color:#0A3C5F;
    color:white;
    border:none;
}

.btn-default,input[type=submit]:hover,input[type=submit]:active,input[type=submit]:focus{
    background-color:#D9E0E2;
    border:1px solid transparent;
    outline:none;
}

@media(max-width:1900px){
    .sloco-logo{
        display:none;
    }

    .header-text{
        padding:0;
    }
}


